@charset "utf-8";
figure.foto-arduino {
    border: 8px solid white;
    width: 50%;
    box-shadow: 4px 4px 4px black;
    position: absolute;
}

figure.foto-arduino>img {
    width: 100%;
}

figure.foto-arduino>figcaption {
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    opacity: 0%;
}

/* 
figure.foto-arduino:hover img {
    width: 150%;
}
*/

figure.foto-arduino:hover figcaption {
    opacity: 100%;
    position: relative;
}