@charset "utf-8";
#menu ul {
    list-style: none;
    background-color: hsl(248, 39%, 39%, 0.8);
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: white;
    text-decoration-line: none;
    padding: 10px 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul li a:hover {
    color: black;
    background-color: hsl(248, 39%, 39%, 1);
}