.custom-input {
    padding: 10px 0 10px 10px;
    margin: 8px 0 8px 0;
    display: block;
    border: none;
    font-size: 16px;
    width: 90%
}

.card-login {
    width: 400px;
    height: 300px;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

.login-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-entrar {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #3F51B5;
    border-color: #3F51B5;
    width: 80%;
    cursor: pointer;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    /* height: 30%; */
}

.div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-start {
    display: inline-block;
    text-align: start;
    width: 92%;
}