@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav {
    width: 100%;
    background-color: #3F51B5;
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.logoWrapper {
    display: flex;
    flex: 1;
    padding-left: 10px;
}

.stylish {
    font-weight: bold;
    color: white;
}

.stylish>a {
    text-decoration: none;
    color: inherit;
}

.logo {
    padding-left: 4px;
    color: #ea4f4c;
}

.navigation {
    display: flex;
    list-style-type: none;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
}

.navigation>li {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navigation>.parent {
    padding: 0 20px;
    cursor: pointer;
}

.navigation>.parent>.link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: white;
}