@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.menu-body {
    display: flex;
}

.nav-lateral {
    width: 40%;
    background-color: #3F51B5;
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px 0px 10px 0px;
    flex-flow: column wrap;
}

/* .nav-lateral-fixed {} */

.logoWrapper-lateral {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.stylish-lateral {
    font-weight: bold;
    color: white;
}

.stylish-lateral>a {
    text-decoration: none;
    color: inherit;
}

.logo-lateral {
    padding-left: 4px;
    color: #ea4f4c;
}

.navigation-lateral {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    flex-flow: column wrap;
    padding-inline-start: 0px;
}

.navigation-lateral>li {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navigation-lateral>.parent-lateral {
    padding: 0 20px;
    cursor: pointer;
}

.navigation-lateral>.parent-lateral>.link-lateral {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: white;
    padding-bottom: 15px;
}