@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";
.title {
    text-align: center;
    font-size: 45px;
    color: #FF69B4;
}

#img-arduino {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.subt {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: justify;
    text-indent: 40px;
}

.container {
    font-family: arial;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 75%;
    height: 150px;
    background-color: #F0F0F0;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.card-icon {
    font-size: 130px;
    display: flex;
    align-items: center;
    color: #ea4f4c;
    justify-content: center;
    width: 165px;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
    /* flex: 1; */
    width: 60%;
}

.card-title {
    padding-top: 2%;
    padding-left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: #ea4f4c;
}

.card-descricao {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding-top: 2%;
    padding-left: 5%;
    width: 80%;
}

.card-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-right: 5px;
}

.btn-acessar {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #3F51B5;
    border-color: #3F51B5;
    cursor: pointer;
    font-weight: bold;
}

.btn-acessar>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.card-action>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    padding: 2%;
}

img {
    filter: invert(1);
}

html {
    scroll-behavior: smooth;
}